<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Relatório</li>
    </ol>
  </nav>
  <h2>Relatório de Acompanhamento de Projetos</h2>
  <hr>

  <h4>Filtros</h4>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label>De</label>
                  <input class="form-control datepicker">
              </div>
          </div>
          <div class="col-6">
              <div class="form-group">
                  <label>Até</label>
                  <input class="form-control datepicker">
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <button type="button" class="btn btn-primary">Filtrar</button>
            &nbsp;
            <button type="button" class="btn btn-secondary">Limpar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
    </div>
  </div>
  <hr>
  <h4>
    Lista
  </h4>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>cabeça</th>
          <th>cabeça</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>corpo</td>
          <td>corpo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
