
<!--
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#msgModal">
  modal msg test
</button>
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="alert alert-success" role="alert" style="margin-bottom: 0">
        <div class="float-left" style="margin-top: 1rem">
        <h4>Titulo da msg</h4>
        <p>{{recievedMessage}}</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
-->

<div *ngIf="recievedMessage.length > 0" style="position: absolute; z-index: 9; top: 50px; left: 0; width: 100%; text-align: center; padding: 0 20%;">
  <div *ngFor="let msg of recievedMessage" [class]="cssClass(msg)" alert-dismissable style="box-shadow: 0 0 30px rgba(0,0,0, .75); padding: 2rem 1rem">
    {{msg.message}}
    <a class="close" (click)="removeMessage(msg)">&times;</a>
  </div>
</div>
