/* You can add global styles to this file, and also import other style files */

footer {
  padding: .7rem 0 0 0;
  text-align: center;
  height: 40px;
  color: #fff;
}

.container {
  min-height: calc(100vh - 120px);
}


/* - */

.w1p {    width: 1%; }
.w1of5,
.w20p {   width: 20%; }
.w1of4,
.w25p {   width: 25%; }
.w2of5 {  width: 40%; }
.w50p {   width: 50%; }
.w3of5 {  width: 60%; }
.w4of5 {  width: 80%; }

/* - */
