/* You can add global styles to this file, and also import other style files */

footer {
  padding: .45rem 0 0 0;
  text-align: center;
  height: 40px;
  color: #fff;
}

.container {
  min-height: calc(100vh - 120px);
}


/* - */

.w1p {    width: 1%; }
.w1of5,
.w20p {   width: 20%; }
.w1of4,
.w25p {   width: 25%; }
.w2of5 {  width: 40%; }
.w50p {   width: 50%; }
.w3of5 {  width: 60%; }
.w4of5 {  width: 80%; }

/* - */

.datepicker-set {
  position: relative
}
.datepicker-clear {
  border: none;
  background: transparent;
  position: absolute;
  margin-top: 4px;
  margin-right: 4px;
  top: 0;
  right: 0;
  z-index: 1;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  height: 25px;
  line-height: 1;
  cursor: pointer;
}