<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
				<li class="breadcrumb-item"><a routerLink="/usuario">Usuários</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar Usuário</li>
			</ol>
		</nav>
    <h2>Editar Usuário</h2>
	<hr>
    <form #insertForm="ngForm" (ngSubmit)="onSubmit()">
	<div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" [(ngModel)]="currentUser.name" name="name" #name="ngModel" required>
                <div [hidden]="name.valid || name.pristine"
                    style="color: red">
                    O nome do Usuário é obrigatório.
                </div>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" [(ngModel)]="currentUser.email" name="email" #email="ngModel" required>
                <div [hidden]="email.valid || email.pristine"
                    style="color: red">
                    O Email é obrigatório.
                </div>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="email.pristine">
        <div class="col-6">
            <div class="form-group">
                <label>Confirme o email</label>
                <input type="text" class="form-control" [(ngModel)]="confirmMail" name="emailconfirm" #emailconfirm="ngModel">
                <div [hidden]="emailconfirm.valid || emailconfirm.pristine"
                    style="color: red">
                    O email deve ser o mesmo nos dois campos.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="resetpassword" name="resetpassword" [(ngModel)]="resetPassword">
                <label class="custom-control-label" for="resetpassword">Gerar nova senha</label>
            </div>
            <span class="small">Um email será enviado para o endereço com uma senha provisória que deverá ser trocada ao efetuar-se o próximo acesso ao sistema.</span>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <div class="form-group">
                <label>Perfíl</label>
                <select class="form-control custom-select" [(ngModel)]="currentUser.role"  name="perfil" #perfil="ngModel" required>
                    <optgroup label="escolha um perfil...">
                    <option [selected]="currentUser.role == 'Administrador'" value="Administrador">Administrador</option>
                    <option [selected]="currentUser.role == 'Diretor'" value="Diretor">Membro Alta Direção</option>
                    <option [selected]="currentUser.role == 'Líder do Escritório de Projetos'" value="Líder do Escritório de Projetos">Líder do Escritório de Projetos</option>
                    <option [selected]="currentUser.role == 'Gerente de Projeto'" value="Gerente de Projeto">Gerente de Projeto</option>
                    <option [selected]="currentUser.role == 'Líder de Time'" value="Líder de Time">Líder de Projeto</option>
                    <option>Membro de time</option>
                    </optgroup>
                </select>
                <div [hidden]="perfil.valid || perfil.pristine || false"
                    style="color: red">
                    É necessário informar um perfil de usuário.
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!insertForm.form.valid">Salvar</button>
                &nbsp;
                <button type="button" class="btn btn-secondary" (click)="goBack()">Voltar</button>
            </div>
        </div>
    </div>
    </form>
</div>