<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
      <h1>Novo Indicador</h1>
      <small>Líder do Escritório de Projetos</small>
  <hr>
  <h2>Info</h2>
  <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label>Nome</label>
                  <input type="text" class="form-control" [(ngModel)]="newIndicador.name">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <button type="button" class="btn btn-primary" (click)="onNewIndicator()">Inserir</button>
                  &nbsp;
                  <button type="button" class="btn btn-secondary">Limpar</button>
              </div>
          </div>
      </div>
</div>